:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

@font-face {
  font-family: ZFTERMIN;
  src: url(./fonts/ZFTERMIN__.ttf);
}

body {
  margin: 0;
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;;
}